$board-line: 1px solid grey;
$icon-size: 6rem;
$color-player-A: blue;
$color-player-B: green;
#board {
    width: 315px;

    div {
        height: 100px;
        width: 100px;
        float:left;
        text-align: center;
    }

    i {
        font-size: $icon-size;

        &.fa-times {
            color: $color-player-A;
        }
        &.fa-circle-o {
            color: $color-player-B;
        }

    }

    #cell-4, #cell-5, #cell-6 {
        border-bottom: $board-line;
        border-top: $board-line;
    }
    #cell-2, #cell-5, #cell-8 {
        border-right: $board-line;
        border-left: $board-line;
    }

}
